/* styles.css */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Ensure the body and html take up full height */
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Make the body a flex container */
    background-color: #f4f4f4;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

#home-body {
    background-image: url('image/background.jpg');
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.container {
    margin: auto;
    padding: 20px 20px 60px 20px;
    width: 90%;
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header img {
    margin-left: 100px;
    max-height: 150px;
    display: block;
}

header button {
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: 2px solid #ffffff;
    font-weight: bold;
    transition-duration: 0.3s;
}

header button:hover {
    background-color: #fff;
    color: #333;
}

header button:active {
    background-color: #868383;
}

.header-text {
    text-align: left;
    font-size: 1.2em;
}

#home {
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

nav {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2em;
}

a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a.active {
    color: #007bff; /* Change the color for the active link */
}

a:hover {
    color: #007bff;
}

section {
    margin: 20px 0;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #555;
}

section p {
    line-height: 1.6;
    margin-bottom: 10px;
}

#portfolio h2 {
    color: #fff;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    flex: 1 1 calc(33% - 20px);
    background-color: #e8e8e8;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin-top: 0;
    color: #007bff;
}

.project p {
    margin-bottom: 0;
}

footer {
    position: fixed; /* Ensure the footer stays at the bottom */
    bottom: 0;
    background-color: #333;
    width: 100%;
    height: 4rem;
    align-content: center;
    text-align: center;
    color: #fff;
}

footer a {
    color: #fff;
}

footer div {
    padding-bottom: 5px;
}

.about-container {
    background-color: #fff;
    margin: 0 auto;
    padding: 20px 20px 60px 20px;
    width: 80%;
    align-content: center;
    font-size: 1.2em;
    text-align: justify;
    text-justify: inter-word;
}

#about-img {
    height: 300px;
    width: auto;
    float: left;
    margin-right: 10px;
    border: 2px #555 solid;
}

/* Responsive styling */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    header h1 {
        font-size: 2em;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 5px;
    }

    header h1 {
        font-size: 1.5em;
    }

    section h2 {
        font-size: 1.2em;
    }

    section p {
        font-size: 0.9em;
    }
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: rgb(51, 51, 51);
    padding: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(241, 238, 238);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ccc;
}
